/*  font */
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
strong{
	font-family: 'GmarketSansMedium';
}
p{
	font-family: 'GmarketSansLight';
}
span{
	font-family: 'GmarketSansLight';
}
label{
	font-family: 'GmarketSansLight';
}
.btn{
	font-family: 'GmarketSansMedium';
}

/* fadein css */
body {
	animation: fadeout 3s;
	-webkit-animation: fadeout 3s;
}

@keyframes fadeout {from { opacity:0;
	
}

to {
	opacity: 1;
}

}
@-webkit-keyframes fadeout { /* Safari and Chrome */ from { opacity:0;
	
}

to {
	opacity: 1;
}

}

body{
	background-color: aliceblue;
}
#top {
	height: 60px;
}

#pitch {
	float: right;
	font-family: 'GmarketSansBold';
	color: white;
}

#senti {
	float: left;
	font-family: 'GmarketSansBold';
	color: white;
	font-size: 28px;
}

#logo {
	width: 32px;
	height: 32px;
	margin-bottom: 5%;
}
.card{
	margin: auto;
	text-align: center;
}
#albumimg{
	width: 250px;
	height: 260px;
	margin: auto;
}
audio{
	margin-left: 43px;
	display: block;
	
}
#lyrics{
    margin: 0 auto;
    overflow: scroll;
    height: 230px;
    font-size: 19px;
    margin-top: 10px;
}
.record{
	text-align: center;
	margin-top: 5px;
}
.hidden{
	display : none;
}
#back{
	margin-left: 21px;
	all: unset;
}
#recordStart{
	all: unset;
	cursor: pointer;
	background-color: white;
	padding: 5px 0px;
	width: 50px;
	text-align: center;
	border-radius: 20px;
	box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px
		rgba(0, 0, 0, 0.08);
	border: 2px solid rgba(0, 0, 0, 0.2);
	color: rgba(0, 0, 0, 0.7);
	text-transform: uppercase;
	font-weight: 800;
	font-size: 15px;
	font-family: 'GmarketSansMedium';
}
#recordStop{
	all: unset;
	cursor: pointer;
	background-color: white;
	padding: 5px 0px;
	width: 120px;
	text-align: center;
	border-radius: 20px;
	box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px
		rgba(0, 0, 0, 0.08);
	border: 2px solid rgba(0, 0, 0, 0.2);
	color: rgba(0, 0, 0, 0.7);
	text-transform: uppercase;
	font-weight: 800;
	font-size: 15px;
	font-family: 'GmarketSansMedium';
}
.result{
	text-align : center;
}
.hidden{
	display : none;
}
audio{
	margin-bottom: 10px;
}
/* audio 색상  */
audio::-webkit-media-controls-panel {
    background-color:  white;
}
.btnDelete{
	all: unset;
	cursor: pointer;
	background-color: white;
	padding: 5px 0px;
	width: 50px;
	text-align: center;
	border-radius: 20px;
	box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px
		rgba(0, 0, 0, 0.08);
	border: 2px solid rgba(0, 0, 0, 0.2);
	color: rgba(0, 0, 0, 0.7);
	text-transform: uppercase;
	font-weight: 800;
	font-size: 15px;
	font-family: 'GmarketSansMedium';
}