/*  font */
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
strong{
	font-family: 'GmarketSansMedium';
}
span{
	font-family: 'GmarketSansLight';
}
h2{
    font-size : 19px;
    font-family: 'GmarketSansBold';
}
/* fadein css */
body {
	animation: fadeout 3s;
	-webkit-animation: fadeout 3s;
}

@keyframes fadeout {from { opacity:0;
	
}

to {
	opacity: 1;
}

}
@-webkit-keyframes fadeout { /* Safari and Chrome */ from { opacity:0;
	
}

to {
	opacity: 1;
}

}
body{
	background-color: aliceblue;
}
#top {
	height: 60px;
}

#pitch {
	float: right;
	font-family: 'GmarketSansBold';
	color: white;
}

#senti {
	float: left;
	font-family: 'GmarketSansBold';
	color: white;
	font-size: 28px;
}

#logo {
	width: 32px;
	height: 32px;
	margin-bottom: 5%;
}

.nav-link {
	font-size: 90%;
}

input {
	margin-left: 12%;
	border-radius: 8px;
}

ul {
	list-style: none;
}

#cover {
	width: 20%;
	height: 25%;
	float: left;
}

a {
	color: gray;
	text-decoration: none;
}

#musicSearchInput {
	float: left;
	width: 57%;
	height: 38px;
	 font-family: 'GmarketSansLight';
}

#musicSearchSubmit{
	margin-left: 22px;
	 font-family: 'GmarketSansLight';
}

#playListAdd {
	float: right;
}

#title {
	display: block;
	margin-top: 15px;
}
button{
	all: unset;
	margin-right:15px;
}
#musicPlus:link{
	color:black;
	text-decoration: none;
} 
#musicPlus:visited{
	color:black;
	text-decoration: none;
} 
#musicPlus:hover{
	color:black;
	text-decoration: underline;
}
#music{
	width: 340px;
    height: 75px;
}
#musicAdd{
	width: 40px;
	height: 40px;
}
.bd-placeholder-img{
	margin-left:5px;
	margin-top:5px;	
}


