/* fadein css */
body {
    animation: fadein 3s;
    -webkit-animation: fadein 3s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {

    /* Safari and Chrome */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

body {}

img {
    width: 100px;
    height: 100px;
    display: block;
    margin: auto;
    margin-top: 90%
}

footer {
    text-align: center;
    margin-top: 92%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}