/* fadein css */
body {
	animation: fadeout 3s;
	-webkit-animation: fadeout 3s;
}

@keyframes fadeout {from { opacity:0;
	
}

to {
	opacity: 1;
}

}
@-webkit-keyframes fadeout { /* Safari and Chrome */ from { opacity:0;
	
}

to {
	opacity: 1;
}

}
#top {
	height: 60px;
}

#pitch {
	float: right;
	font-family: 'Nanum Gothic', sans-serif;
	color: white;
}

#senti {
	float: left;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color: white;
	font-size: 28px;
}

#logo {
	width: 32px;
	height: 32px;
	margin-bottom: 5%;
}
.display-5{
	font-family: 'Nanum Gothic', sans-serif;
}

#thumbnail {
	width: 342px;
	height: 342px;
	border-radius: 100px;
	box-shadow: 0 4px 5px rgba(0, 0, 0, 0.6);
}

.nav-link {
	font-size: 90%;
}

.hidden {
	display: none;
}

#vocalTestLowVideo {
	width: 342px;
}

#vocalTestHighVideo {
	width: 342px;
}

.controls__btns {
	margin-left: 84px;
}

.controls__btns button {
	all: unset;
	cursor: pointer;
	background-color: white;
	padding: 5px 0px;
	width: 80px;
	text-align: center;
	border-radius: 5px;
	box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px
		rgba(0, 0, 0, 0.08);
	border: 2px solid rgba(0, 0, 0, 0.2);
	color: rgba(0, 0, 0, 0.7);
	text-transform: uppercase;
	font-weight: 800;
	font-size: 12px;
}

.controls__btns button:active {
	transform: scale(0.98);
}

#note-selector select {
	cursor: pointer;
	padding: 15px;
	-webkit-appearance: none;
	font-weight: bold;
	font-size: 12px;
	background: rgb(244, 244, 244);
	border: 1px solid rgb(240, 240, 240);
	border-radius: 4px;
	box-shadow: 0 4px 0px rgb(192, 192, 192);
	margin: 0 auto;
	background-image: url('library/img/down-arrow-black.png');
	background-size: 16px;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	background-position: 95% 50%;
	background-repeat: no-repeat;
}

#note-selector {
	margin-top: 8px;
	display: flex;
}

#note-selector select:first-of-type {
	margin-right: 10px;
}